<div class="box">
  <h1 class= "headline">Stupid Coaching</h1>
  <h2>Ask your coach anything:</h2>
  <form class= "ask-form"action="answer">
    <input class= "input-field"type="text" name="question">
    <button class= "submit-button"type="submit">Ask!</button>
  </form>
</div>
